@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*Header Buttons Navbar*/
.navbar {
    text-align: center;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-items: baseline;
}


/* CSS Copied from website : https://getcssscan.com/css-buttons-examples */
.button {
  margin-top: 55px;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Roboto Condensed", sans-serif,ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button:hover {
  background-color: #2563EB; /* Change the background color to blue */
  border-color: #1D4ED8; /* Change border color */
  color: #ffffff; /* Ensure text remains white */
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: .75rem 1.5rem;
  }
}
