
/* Mobile View (Phone Screens) */
@media screen and (max-width: 768px) {

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .information{
        padding:25px;
        gap:20px

    }

    .navbar{
        display: flex;
        flex-direction:row;
   flex-wrap: wrap;
    }

   .icon{
    padding: 15px;
   }
}
