/*Universal Css*/
* {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 50;
    padding: 20;
}

/*Header Css*/
.header{
    width: 100%;
    min-height: 100vh;
    background-image:url(images/cover1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}