/*Universal Css*/
* {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 50;
    padding: 20;
}

/*Header Css*/
.header{
    width: 100%;
    min-height: 100vh;
    background-image:url(images/cover1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Information 3 tabs*/
.information {
    display: flex;
    justify-content: space-around;
}

.information li {
    list-style: none; 
    padding: 10px; 
    border-radius: 5px;
}
.information li:first-child {
    border: 2px solid #FF5733; 
}
.information li:last-child {
    border: 2px solid #3498DB;
}
/*Footer Contact Info*/
.Contact-info {
    background-color: black;
    color: white;
    padding: 20px;
}

.footer-content{
    text-align: center;
}

/*Icon size*/
.icon {
    width: 44px;
    height: 44px;
    padding: 55px;
    padding-bottom: 0px;
}