/* NRG GYM Title Font */
h1#text{
    color: aliceblue;
    text-align: center;
    margin-top: 130px;
    font-size: 50px;
}
.nrg-header {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo {
    width: 220px; 
    height: auto;
    margin-right: 15px; 
}

#text{
    color: aliceblue;
}

/* News Headline /Marquee */
.marquee-style {
    margin-top: 5px;
    padding: 5px;
    font-family: Arial, sans-serif; 
    font-size: 20px;             
    color: white;                
    background-color: #214592;    
}